body {
  background: #222;
  color: white;
  font-size: 16px;
  margin: 0;
}

h1 {
  position: absolute;
  top: 16px;
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #444444;
}

a {
  color: #444444;
}

#game {
  position: absolute;
  width: 1024px;
  height: 576px;

  top: calc(50% - 280px);
  left: calc(50% - 512px);

  z-index: 1;
}
